table {
    border-collapse: collapse;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    border: 1px solid #fff;
    padding: 10px;
  }
  
  th {
    background-color: #555;
  }
  
  tr:hover {
    background-color: #444;
  }